@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Micro+5+Charted&display=swap');
body {
  background-color: #0b0b0e;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
}

main {
 display: grid;
 place-items: center;
 background-color: #3a3a43;
 border-radius: 5px;
}

h1 {
  font-family: "Jersey 25", sans-serif;
  color: #0f0f0f;
  font-weight: 400;
  font-size: 5rem;
}

#result {
  aspect-ratio: 1/1;
  max-width: 512px;
  width: 100%;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;

}

form {
  display: flex;
  font-size: 3rem;
  color: #0f0f0f;
  font-family: "Jersey 25", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 512px;
  margin-top: 2rem;
}

textarea {
  font-family: "Jersey 25", sans-serif;
  width: 100%;
  height: 100px;
  margin: 10px 0;
  font-size: 1.5rem;
  border-radius: 5px;
}

button {
  font-family: "Jersey 25", sans-serif;
  font-size: 2rem;
  width: 100%;
  height: 50px;
  background-color: #1b1b1e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
}

button:hover {
  background-color: #2b2b2e;
}

.hidden {
  display: none;
}


.spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}


@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}